/* body{
     background-color: #e3e2e2!important;
}  */

.avatar{
    width: 40%;
    border-radius: 50%;
}

.container{
    background-color: #fff;
}

input::placeholder{
    opacity: 0.6;
    font-size: 12px;
    font-style: italic;
    color: black;
}

.disclosure{
    font-size: 14px;
}







/* 

input[type=email], input[type=password  ]{
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: 1px solid #ccc;
}



.login{
    padding: 10px 15px;
    width: 100%;
    color: white!important;
    font-weight: 600;
    background-color: #008000;
    margin: 10px 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.login:hover{
    opacity: 0.8;
}

.container2{
    background-color: #fdf9f9;
    padding: 8px;
} */  