 body{
     background-color: #071739!important;
}  

.avatar{
    width: 40%;
    border-radius: 50%;
}

.container{
    background-color: #cdd5db;
}

input::placeholder{
    opacity: 0.6;
    font-size: 12px;
    font-style: italic;
    color: black;
}

.disclosure{
    font-size: 14px;
}

/* dashboardPage */

#sidebar{
    background-color: #4b6382;
}

 .nav-item{
    background-color: #a68868;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
} 

.nav-item:hover{
    transform: translateY(-5px);
    box-shadow: linear-gradient(135deg, #a68868, #e3c39d);
    background: #e3c39d;
}


#toggleBtn{
    background: #071739; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

#toggleBtn:hover{
    background: linear-gradient(135deg, #66b3ff, #3399ff);
    box-shadow: 0 6px 14px rgba(48, 76, 106, 0.3);
    transform: translateY(-2px);
}

